body{

     background: rgb(238,174,202);
     background: radial-gradient(circle, rgba(238,174,202,1) 27%, rgba(55,139,238,1) 65%);
      text-align: center;
    
     
}
.btn-container{
 
     display: flex;
     justify-content: center;
    
}
.btn{
     height: 200px;
     width: 200px;
     border-radius: 20%;
     border: 5px solid black;
     margin: 1rem;
}
.red{
     background-color: #d95980;
}
.purple{
     background-color: #63aac0;
}
.yellow{
     background-color: #f99b45;
}
.green{
     background-color: #c0f947;
}
.flash{
     background-color: white;
}
.userflash{
     background-color: rgb(112, 116, 201);
}